<div>
	<h1>Login</h1>
	
</div>
<div>{{model.notice}}</div>
<div>
	UserName: {{focus-input-text-field id="username"}}
	Password: {{input id="password" type="password"}}
	{{spin-button id="loginSubmit" isLoading = isLoading buttonText="Login" action="submit"}}
</div>