<div>
	<h1>Login</h1>
	
</div>
<div>{{model.notice}}</div>
<div>
	<form id="loginForm" action="">
		UserName: {{input id="username" name="username" type="text"}}<br/>
		Password: {{input id="password" name="password" type="password"}}<br/>
		<button id="loginSubmit" {{action "submit"}}>Login</button>
	</form>
</div>